#product_detail_ctn {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}
#product_container {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
#product_ctn {
  width: 100%;
  padding: 50px;
  display: flex;
  /* justify-content: center; */
}
#product_ctn img {
  width: 50%;
  /* height: auto; */
  height: 80%;
}
.product__detail_info {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  line-height: 50px;
  margin-left: 50px;
}

.product__detail_info {
  color: #000;
  width: 50%;
}
.product__detail_info h2 {
  font-size: 2rem;
  color: #007cff;
}

.product__detail_btn {
  width: 40%;
  padding: 10px;
  margin-top: 50px;
  border: 0;
  background-color: #2980b9;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.product__detail_btn:hover {
  background-color: #297fb9d0;
  transition: 0.5s;
}
.product__detail_price {
  color: #2980b9;
  font-weight: bold;
  font-size: 1.5rem;
}
.product__about {
  line-height: 1.5rem;
  color: #95a5a6;
  font-size: 1rem;
}
.product__status,
.product__id {
  font-weight: bold;
  color: #2c3e50;
}

.comment {
  padding: 20px;
}

.comment_title {
  font-size: 1.7rem;
  margin: 10px 0;
  color: #2980b9;
}
.prod_comment {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  background-color: rgb(249 250 255);
  /* align-items: center; */
  flex-wrap: wrap;
  border: 1px solid #ecf0f1;
}
hr {
  border-top: 1px solid #bdc3c7;
}
.comment_avatar {
  width: 8%;
  margin-right: 20px;
  box-shadow: 0 0 2px #000;
  height: 80px;
}
.comment_username {
  font-weight: bold;
  color: #2980b9;
}
.comment_content {
  margin-top: 10px;
  width: 90%;
  word-wrap: break-word;
}

.comment_input {
  display: flex;
  flex-direction: column;
}

.comment_input label {
  color: #2980b9;
  margin: 20px 0;
}

textarea {
  resize: none;
  position: relative;
}
textarea:focus {
  border: 0;
  outline: none;
}
.comment_user {
  width: 80%;
  margin: 10px;
}
#cmt_push {
  margin: 20px 0;
  padding: 10px;
  background-color: #2980b9;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  text-transform: uppercase;
  outline: none;
}
.delete_cmt {
  width: 5%;
  margin-left: auto;
  margin: 10px;
  text-align: right;
}

.delete_icon {
  color: red;
  cursor: pointer;
  transition: 0.5s;
}
.delete_icon:hover {
  color: rgb(245, 91, 91);
  transform: scale(1.5, 1.5);
  transition: transform 0.5s;
}
